@model Bookish.Web.Models.BooksModel
<div>

    <p>Books</p>
    
    <form method="post" action="Books">Search:<input name="search" type="text"/><button type="submit">Search</button></form>
    
    <div style="display: flex; flex-direction: column">
        
      @foreach (var book in Model.books)
            {
                <div style="margin-top: 10px; display: flex; border-radius: 5px">
               
                    <div style="display: flex">
                        <form id="@book.BookID" action="Borrow" style="padding-right: 10px">
                            <input type="number" name="bookID" value="@book.BookID" hidden/>
                            <button type="submit">
                                
                                Borrow
                            </button>
    
                        </form>
                        
                        <form id="@book.BookID" action="ViewBook">
                            <input type="number" name="bookID" value="@book.BookID" hidden/>
                            <button type="submit">
                                See details
                            </button>
    
                        </form>
                    </div>
                    <div style="padding-left: 20px">
                        @book.BookName
                        written by
                        @book.BookAuthor
                        | no of copies:
                        @book.NoCopies
                    </div>
                    
                </div>
            }   
    </div>
    
    
    @if (Model.atPage > 0)
    {
        <form method="post" action="Books" id="prev">
            @Html.HiddenFor(m => m.atPage, new {Value = Model.atPage - 1})
            @Html.HiddenFor(m => m.numberOfPages, new {Value = Model.numberOfPages})
            <button type="submit">Previous</button>
        </form>
    }
    
    <div align="center">
    <p>Page  @(Model.atPage+1) of @Model.numberOfPages</p>
    </div>
    
    @if (Model.atPage < Model.numberOfPages - 1)
    {
        <form method="post" action="Books" id="prev">
            @Html.HiddenFor(m => m.atPage, new {Value = Model.atPage + 1})
            @Html.HiddenFor(m => m.numberOfPages, new {Value = Model.numberOfPages})
            <button type="submit">Next</button>
        </form>
    }
    <br/>
    
</div>